:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

main {
  flex-grow: 1;
  // https://stackoverflow.com/a/38383437
  min-height: 0;
}

h6 {
  margin-bottom: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
