#more-caret-icon {
  font-size: 0.25rem;
  position: absolute;
  right: -0.25rem;
  bottom: -0.25rem;
}

#color-icon {
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
}
